### SEC.gov Search

##### Click > Run above to start

In [1]:
import setup
from IPython.display import display
display(setup.create_task_1_UI())

GridspecLayout(children=(Text(value='', description='Ticker/Entity Name:*', layout=Layout(grid_area='widget001â€¦

SEARCH_URL https://www.sec.gov/edgar/search/#/q=%2522Income%2522&category=custom&entityName=msft&forms=10-K&startdt=2020-01-04&enddt=2022-03-04

Total results are: 2

Exhibits Records (exe) Ignored: 0

FILING SUMMARY LINK https://www.sec.gov/Archives/edgar/data/0000789019/000156459021039151/FilingSummary.xml

*****url in url***** https://www.sec.gov/Archives/edgar/data/0000789019/000156459021039151/FilingSummary.xml
table_link https://www.sec.gov/Archives/edgar/data/0000789019/000156459021039151/R2.htm
*****url in url***** https://www.sec.gov/Archives/edgar/data/0000789019/000156459021039151/R2.htm
FINANCIAL DATA TITLE: 100010 - Statement - INCOME STATEMENTS
TABLE LINK: https://www.sec.gov/Archives/edgar/data/0000789019/000156459021039151/R2.htm

   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions  \
   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
0                                             Revenue
1                                     Cost of revenue
2                                        Gross margin
3                            Research and development
4                                 Sales and marketing
5                          General and administrative
6                                    Operating income
7                                   Other income, net
8                          Income before income taxes
9                          Provision for income taxes
10                                         Net income
11                                Earnings per share:
12                                              Basic
13                                            Diluted
14               Weighted average shares outstanding:
15                                              Basic
16                                            Diluted
17                                            Product
18                                            Revenue
19                                    Cost of revenue
20                                  Service and Other
21                                            Revenue
22                                    Cost of revenue

   12 Months Ended
     Jun. 30, 2021 Jun. 30, 2020 Jun. 30, 2019
0        $ 168,088     $ 143,015     $ 125,843
1            52232         46078         42910
2           115856         96937         82933
3            20716         19269         16876
4            20117         19598         18213
5             5107          5111          4885
6            69916         52959         42959
7             1186            77           729
8            71102         53036         43688
9             9831          8755          4448
10        $ 61,271      $ 44,281      $ 39,240
11             NaN           NaN           NaN
12          $ 8.12        $ 5.82        $ 5.11
13          $ 8.05        $ 5.76        $ 5.06
14             NaN           NaN           NaN
15            7547          7610          7673
16            7608          7683          7753
17             NaN           NaN           NaN
18        $ 71,074      $ 68,041      $ 66,069
19           18219         16017         16273
20             NaN           NaN           NaN
21           97014         74974         59774
22        $ 34,013      $ 30,061      $ 26,637

   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions  \
   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
0                                             Revenue
1                                     Cost of revenue
2                                        Gross margin
3                            Research and development
4                                 Sales and marketing
5                          General and administrative
6                                    Operating income
7                                   Other income, net
8                          Income before income taxes
9                          Provision for income taxes
10                                         Net income
11                                Earnings per share:
12                                              Basic
13                                            Diluted
14               Weighted average shares outstanding:
15                                              Basic
16                                            Diluted
17                                            Product
18                                            Revenue
19                                    Cost of revenue
20                                  Service and Other
21                                            Revenue
22                                    Cost of revenue

   12 Months Ended
     Jun. 30, 2021 Jun. 30, 2020 Jun. 30, 2019
0        $ 168,088     $ 143,015     $ 125,843
1            52232         46078         42910
2           115856         96937         82933
3            20716         19269         16876
4            20117         19598         18213
5             5107          5111          4885
6            69916         52959         42959
7             1186            77           729
8            71102         53036         43688
9             9831          8755          4448
10        $ 61,271      $ 44,281      $ 39,240
11             NaN           NaN           NaN
12          $ 8.12        $ 5.82        $ 5.11
13          $ 8.05        $ 5.76        $ 5.06
14             NaN           NaN           NaN
15            7547          7610          7673
16            7608          7683          7753
17             NaN           NaN           NaN
18        $ 71,074      $ 68,041      $ 66,069
19           18219         16017         16273
20             NaN           NaN           NaN
21           97014         74974         59774
22        $ 34,013      $ 30,061      $ 26,637